<a href="https://colab.research.google.com/github/Khoilun/Phantichdulieu/blob/main/Lab02_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/dulieuxettuyendaihoc.csv")
print(df.head(5))

   STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  6.6  7.6  5.9   F
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  6.6  6.1  4.4   M
2    3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  7.9  8.1  4.6   M
3    4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  7.1  7.3  7.4   M
4    5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  6.1  7.5  7.2   M

   DT   KV   DH1   DH2   DH3  KT
0 NaN  2NT  3.25  3.25  4.50  A1
1 NaN    1  6.00  4.00  3.50   C
2 NaN    1  5.00  6.75  4.00   C
3 NaN    1  4.25  4.25  5.25  D1
4 NaN  2NT  4.25  4.50  5.00   A

[5 rows x 56 columns]

**1.Hãy sắp xếp dữ liệu điểm DH1 theo thứ tự tăng dần**

In [2]:
df.sort_values(by="DH1")

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
53,54,4.9,5.9,6.2,5.6,5.9,5.0,7.0,5.6,6.1,...,5.7,5.6,6.3,M,NaN,1,1.00,5.50,4.25,A
43,44,6.6,7.2,5.9,6.9,7.6,8.1,7.3,6.7,6.3,...,7.1,7.9,5.6,F,1.0,2,1.25,3.50,5.00,D1
72,73,5.5,6.6,7.2,7.6,5.5,6.7,6.7,5.2,6.0,...,5.9,6.3,5.5,M,NaN,1,1.50,4.50,5.50,A
5,6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,...,5.7,8.0,7.8,M,NaN,1,1.50,4.00,6.00,D1
87,88,7.3,4.3,5.3,5.8,4.9,3.7,5.6,5.3,5.9,...,6.4,7.2,6.2,M,NaN,1,1.75,4.00,4.50,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,85,8.4,7.4,6.0,7.8,6.3,7.2,8.5,6.0,9.3,...,5.5,7.9,6.6,M,NaN,1,6.50,4.50,8.00,A
11,12,7.9,7.0,9.1,8.6,6.1,7.0,5.6,9.0,8.2,...,6.4,6.7,8.7,M,NaN,2,6.75,6.50,4.25,D1
23,24,5.3,6.3,5.7,6.9,5.9,7.5,6.6,5.1,6.4,...,8.8,6.1,5.2,M,NaN,2NT,6.75,5.25,5.00,C
24,25,2.4,4.1,3.6,5.5,5.9,5.6,4.9,4.2,3.3,...,4.1,5.7,5.1,F,NaN,1,7.00,2.25,5.25,C
97,98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C

**2.Hãy sắp xếp dữ liệu điểm DH2 tăng dần theo nhóm giới tính**

In [3]:
df_male = df[df['GT'] == 'M']
df_male

df_female = df[df['GT'] == 'F']
df_female

sorted_value_male = df_male.sort_values(by ='DH2')
sorted_value_female = df_female.sort_values(by = 'DH2')

print('Male')
display(sorted_value_male)
print('Female')
display(sorted_value_female)

Male

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.50,4.25,C
94,95,5.8,5.9,7.6,6.1,5.3,8.1,6.1,5.0,6.4,...,7.3,6.8,5.3,M,NaN,1,4.25,2.50,4.75,A
62,63,6.4,7.2,8.1,8.5,6.2,8.8,7.9,5.6,5.9,...,8.8,6.6,6.4,M,NaN,1,4.25,2.75,3.25,A
15,16,2.5,5.3,4.9,8.2,6.9,6.0,6.7,5.0,6.2,...,7.1,6.8,5.0,M,NaN,1,3.75,3.00,6.50,D1
38,39,4.4,5.6,5.2,6.4,5.9,6.7,7.2,4.3,4.4,...,6.5,6.6,4.2,M,NaN,1,2.00,3.00,5.25,A
75,76,5.5,4.0,4.3,5.6,3.3,5.9,2.8,3.4,6.0,...,7.6,5.4,3.5,M,NaN,1,4.75,3.50,3.25,A
63,64,7.5,7.6,7.8,7.9,5.7,8.1,5.8,6.2,7.6,...,7.2,7.3,6.6,M,NaN,1,2.25,3.50,5.00,A
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,6.6,5.2,5.9,M,NaN,1,5.00,3.50,5.50,C
36,37,7.3,4.8,4.9,4.6,4.0,5.1,5.8,3.4,7.5,...,8.3,6.9,5.0,M,NaN,1,4.25,3.50,2.75,A
60,61,6.2,7.8,7.8,8.0,5.1,7.4,5.8,5.4,5.0,...,8.0,6.6,6.5,M,NaN,1,2.50,3.50,6.50,A
65,66,3.0,4.0,3.8,6.6,5.4,5.4,4.0,5.3,3.5,...,8.3,6.8,4.7,M,NaN,1,2.00,3.75,4.75,A
29,30,4.5,3.8,4.8,5.9,4.3,6.2,5.2,6.1,5.5,...,6.2,5.5,6.1,M,NaN,1,2.75,3.75,5.00,D1
69,70,6.0,5.9,6.0,5.3,4.8,7.1,5.8,5.2,6.2,...,6.7,4.4,4.9,M,NaN,1,2.25,3.75,6.25,B
64,65,7.1,6.2,8.4,7.3,6.4,6.7,8.5,4.9,6.9,...,9.1,7.1,5.4,M,6.0,2,4.25,3.75,6.00,A
5,6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,...,5.7,8.0,7.8,M,NaN,1,1.50,4.00,6.00,D1
59,60,3.6,4.6,5.0,6.9,5.2,4.5,5.8,7.3,3.5,...,5.8,6.1,8.4,M,1.0,1,3.00,4.00,4.00,D1
77,78,5.2,3.6,3.8,7.1,5.3,4.8,6.4,4.5,6.8,...,6.4,5.7,6.6,M,NaN,1,3.25,4.00,4.00,B
39,40,4.3,5.0,4.8,1.9,3.1,6.1,7.5,3.8,5.3,...,7.6,6.2,5.0,M,NaN,1,2.75,4.00,4.00,A1
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
87,88,7.3,4.3,5.3,5.8,4.9,3.7,5.6,5.3,5.9,...,6.4,7.2,6.2,M,NaN,1,1.75,4.00,4.50,A
88,89,5.2,6.0,4.7,6.2,3.9,6.6,4.9,3.7,6.5,...,6.2,6.0,6.2,M,NaN,1,3.75,4.00,3.50,A
33,34,6.4,4.6,6.4,5.9,5.7,7.2,6.9,2.9,4.5,...,4.9,6.4,4.4,M,NaN,1,2.25,4.00,4.25,A
90,91,8.1,7.7,9.1,8.5,6.1,8.6,8.8,7.3,8.8,...,8.3,8.7,7.8,M,NaN,2,6.25,4.00,6.50,A
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
93,94,5.2,5.2,6.8,7.9,6.6,8.9,7.6,5.3,6.8,...,8.7,7.8,5.0,M,NaN,1,3.50,4.25,5.00,A
84,85,8.4,7.4,6.0,7.8,6.3,7.2,8.5,6.0,9.3,...,5.5,7.9,6.6,M,NaN,1,6.50,4.50,8.00,A
72,73,5.5,6.6,7.2,7.6,5.5,6.7,6.7,5.2,6.0,...,5.9,6.3,5.5,M,NaN,1,1.50,4.50,5.50,A
67,68,4.6,4.9,5.3,5.7,4.5,5.0,7.3,2.8,7.2,...,5.7,5.8,4.6,M,NaN,1,4.50,4.50,5.50,B
81,82,5.7,5.0,4.7,5.7,4.7,5.5,5.2,4.2,3.9,...,5.4,5.4,6.5,M,NaN,1,2.50,4.50,4.25,A
78,79,5.3,4.3,5.9,7.7,6.8,6.9,7.0,5.6,5.2,...,4.5,5.6,6.0,M,NaN,1,3.50,4.50,4.25,B
66,67,5.1,3.7,4.7,5.5,5.1,4.5,5.8,2.8,5.3,...,6.3,6.1,4.6,M,NaN,2NT,4.00,4.50,3.25,A
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A
34,35,4.7,7.2,7.4,7.6,6.3,7.7,4.9,4.7,6.2,...,5.3,6.8,4.3,M,NaN,2NT,2.50,4.50,4.50,A
17,18,5.4,6.0,4.9,5.5,4.2,7.3,5.3,4.9,4.8,...,9.4,6.4,5.5,M,NaN,1,4.25,4.50,5.00,A
91,92,7.8,6.5,6.7,5.4,6.2,4.8,5.9,4.4,8.9,...,7.2,7.4,7.0,M,NaN,2NT,4.75,4.75,4.50,A
31,32,2.6,4.6,4.6,3.6,4.2,5.4,5.2,4.5,3.8,...,9.0,6.7,6.7,M,NaN,1,4.50,4.75,5.50,A
86,87,6.3,6.5,8.1,7.7,6.7,5.4,7.0,5.4,6.3,...,6.9,6.6,5.2,M,NaN,2NT,2.00,4.75,6.50,A
18,19,5.6,4.8,7.3,3.9,5.5,6.0,6.1,4.8,5.5,...,6.4,6.3,5.8,M,NaN,1,3.25,4.75,3.50,A
20,21,3.9,3.9,6.0,6.7,6.1,4.8,6.3,5.2,5.6,...,6.4,6.1,6.7,M,NaN,1,2.75,5.00,4.25,A
35,36,6.5,4.4,6.5,5.7,6.4,6.9,4.0,4.6,5.3,...,5.8,6.0,5.5,M,NaN,2,2.50,5.00,5.00,A
58,59,6.5,5.8,7.4,7.7,7.2,7.5,6.5,4.6,8.3,...,9.1,8.1,8.5,M,NaN,2NT,2.25,5.25,6.00,A
92,93,5.0,6.6,6.5,7.2,5.8,6.7,6.4,6.0,6.8,...,5.9,6.7,5.8,M,NaN,1,3.25,5.25,4.25,A
28,29,6.3,6.4,6.6,6.7,6.6,8.1,7.8,4.5,8.1,...,8.2,6.8,5.4,M,NaN,2NT,3.25,5.25,3.75,A
37,38,3.4,4.2,3.7,4.4,6.1,4.6,4.7,4.4,4.4,...,5.9,4.7,5.8,M,NaN,2,2.25,5.25,4.50,A
23,24,5.3,6.3,5.7,6.9,5.9,7.5,6.6,5.1,6.4,...,8.8,6.1,5.2,M,NaN,2NT,6.75,5.25,5.00,C
53,54,4.9,5.9,6.2,5.6,5.9,5.0,7.0,5.6,6.1,...,5.7,5.6,6.3,M,NaN,1,1.00,5.50,4.25,A
89,90,5.7,4.6,5.9,5.7,4.7,4.3,4.4,5.5,5.6,...,5.4,4.7,4.7,M,NaN,1,2.00,5.50,5.50,A
68,69,7.3,6.4,6.9,7.5,6.2,8.4,7.6,8.1,8.1,...,8.8,7.9,7.9,M,NaN,1,3.75,6.00,4.50,B
47,48,7.9,7.6,8.4,8.6,6.2,7.5,8.7,7.7,7.3,...,5.1,7.0,7.9,M,NaN,2,4.75,6.50,8.00,A
11,12,7.9,7.0,9.1,8.6,6.1,7.0,5.6,9.0,8.2,...,6.4,6.7,8.7,M,NaN,2,6.75,6.50,4.25,D1
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
97,98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C

Female

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
95,96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,...,6.3,6.1,6.2,F,NaN,1,5.25,1.50,6.25,C
25,26,3.6,5.8,6.9,6.1,5.5,7.2,5.5,4.3,4.2,...,5.9,6.3,4.4,F,NaN,1,4.75,2.00,5.50,C
24,25,2.4,4.1,3.6,5.5,5.9,5.6,4.9,4.2,3.3,...,4.1,5.7,5.1,F,NaN,1,7.00,2.25,5.25,C
46,47,6.7,6.8,6.4,5.9,5.6,6.4,8.0,6.8,6.6,...,5.1,6.6,5.1,F,NaN,1,5.25,2.25,5.25,D1
13,14,4.9,5.4,5.0,5.0,5.8,7.0,4.2,5.8,4.5,...,7.3,5.6,5.7,F,NaN,1,2.50,2.75,5.50,D1
21,22,5.0,5.1,6.3,4.5,6.8,5.8,5.1,4.1,5.8,...,5.2,6.8,6.1,F,NaN,1,3.50,3.00,4.50,D1
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
51,52,6.0,5.3,8.5,6.6,7.6,7.5,7.6,4.0,7.3,...,9.0,7.8,5.9,F,NaN,1,2.50,3.25,5.00,A
52,53,5.3,7.0,7.0,7.3,6.7,8.4,6.6,7.8,8.0,...,5.3,7.0,5.9,F,NaN,2NT,3.75,3.50,4.50,D1
30,31,7.6,7.2,5.4,5.6,5.6,6.7,6.7,4.0,7.7,...,7.8,8.4,6.2,F,NaN,1,5.00,3.50,5.50,D1
61,62,7.2,5.5,6.5,6.9,8.0,7.2,6.8,4.8,8.4,...,8.7,7.8,5.9,F,NaN,1,3.50,3.50,4.25,A
74,75,4.2,5.6,5.0,8.4,6.3,8.2,6.9,3.9,5.5,...,6.9,7.3,5.5,F,NaN,1,5.25,3.50,4.50,A
22,23,5.0,4.5,5.3,6.8,4.8,5.5,5.5,5.5,5.5,...,5.3,6.4,6.1,F,NaN,2,5.00,3.50,6.00,C
8,9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,...,9.1,7.9,6.1,F,NaN,1,3.50,3.50,6.75,D1
79,80,4.8,3.9,5.5,4.9,5.6,4.1,5.8,5.1,5.1,...,3.8,5.1,4.9,F,NaN,2NT,2.00,3.50,5.50,A1
80,81,8.2,6.5,5.1,6.1,6.6,8.7,7.1,6.8,9.2,...,6.6,7.3,5.3,F,NaN,2NT,4.50,3.50,4.75,A
43,44,6.6,7.2,5.9,6.9,7.6,8.1,7.3,6.7,6.3,...,7.1,7.9,5.6,F,1.0,2,1.25,3.50,5.00,D1
42,43,7.0,7.4,7.5,8.3,8.7,8.0,8.8,7.0,7.2,...,8.7,7.2,6.6,F,NaN,1,5.75,3.50,4.25,D1
54,55,5.3,5.7,5.4,4.6,4.4,6.6,4.7,5.3,5.1,...,7.8,6.0,6.7,F,NaN,2,4.50,3.75,4.50,D1
96,97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,...,7.9,7.5,4.4,F,NaN,1,5.25,3.75,4.75,C
40,41,5.3,6.3,8.4,7.3,5.8,8.5,7.6,7.8,7.5,...,5.3,8.5,6.6,F,NaN,2,5.00,3.75,5.75,D1
44,45,6.1,6.9,5.9,6.6,6.0,7.0,6.8,6.7,8.8,...,6.6,6.8,7.3,F,NaN,2NT,3.75,4.00,4.00,A
76,77,5.4,6.8,7.1,7.2,5.6,6.8,6.7,5.3,6.0,...,7.1,7.9,4.7,F,NaN,2NT,3.25,4.00,3.50,A
19,20,8.2,7.3,7.8,7.6,5.6,7.2,6.0,6.5,6.4,...,5.7,6.6,5.5,F,NaN,2,3.50,4.00,4.00,A
48,49,7.9,6.0,6.4,7.4,8.0,7.1,8.4,7.0,8.1,...,9.0,6.5,6.5,F,NaN,2,5.00,4.00,6.75,D1
10,11,5.2,6.4,7.4,7.0,7.1,8.1,7.6,6.8,6.3,...,6.0,7.2,7.2,F,NaN,2,3.00,4.00,5.50,D1
16,17,8.8,7.0,7.7,7.1,6.1,5.4,8.3,5.3,7.3,...,5.3,7.8,5.6,F,NaN,1,3.50,4.00,3.50,A
7,8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,...,7.1,6.8,7.0,F,NaN,2,3.75,4.50,4.25,D1
73,74,5.2,3.1,4.7,5.8,6.1,3.1,4.8,4.4,5.5,...,5.3,5.3,4.8,F,NaN,1,2.00,4.50,3.75,A
70,71,5.8,6.3,6.0,6.5,6.7,7.6,6.7,5.9,7.6,...,7.3,7.8,6.8,F,NaN,2,2.25,4.50,7.25,A
12,13,7.3,6.3,8.7,7.7,6.6,8.5,6.9,8.5,5.8,...,6.8,5.6,8.5,F,NaN,1,2.00,4.50,5.00,D1
41,42,8.3,8.0,9.0,8.3,7.9,8.3,8.1,6.7,8.2,...,8.1,7.9,7.4,F,NaN,2,4.00,4.50,5.75,A
49,50,8.2,7.2,8.4,5.9,5.9,6.4,6.4,6.2,8.5,...,6.6,7.7,6.9,F,NaN,2NT,3.25,4.50,4.00,A1
45,46,6.9,5.3,7.1,5.7,7.0,8.4,6.2,6.4,5.4,...,5.8,7.1,5.7,F,NaN,2,2.00,4.50,5.00,A
26,27,4.9,4.8,5.0,5.4,5.2,5.3,6.5,4.4,5.9,...,7.6,6.8,5.5,F,NaN,1,5.25,4.50,4.75,C
32,33,6.0,6.8,7.1,7.3,6.6,7.1,6.9,7.0,6.0,...,6.6,7.1,7.5,F,NaN,2,4.50,4.50,4.75,D1
14,15,7.1,8.0,9.1,7.5,6.1,7.7,7.9,7.6,8.3,...,8.0,7.6,7.0,F,NaN,2NT,3.50,4.50,6.50,A
55,56,7.9,6.9,7.0,7.0,7.0,3.9,5.6,6.4,8.4,...,6.7,6.9,6.5,F,NaN,2NT,4.25,4.75,3.25,A1
71,72,3.0,5.1,3.0,6.4,4.3,4.8,2.0,4.5,4.8,...,8.1,5.8,5.1,F,NaN,1,3.50,4.75,3.50,B
9,10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,...,6.4,6.1,7.8,F,NaN,1,4.00,4.75,5.50,D1
83,84,5.9,5.7,7.1,6.7,6.5,8.0,8.1,4.3,7.4,...,9.6,7.3,5.8,F,NaN,1,1.75,4.75,6.00,B
27,28,8.1,5.5,5.1,5.6,6.2,6.2,6.6,4.8,4.4,...,6.4,6.3,5.1,F,NaN,2NT,5.25,5.00,3.50,C
50,51,5.5,7.1,6.1,5.8,6.2,6.9,7.3,6.1,6.2,...,8.4,6.8,6.3,F,NaN,1,2.00,5.25,3.50,A
57,58,7.2,7.6,6.6,6.6,5.0,7.1,6.8,9.3,7.3,...,6.6,6.8,7.9,F,NaN,1,2.00,5.50,5.00,A1
56,57,6.3,6.9,6.9,6.9,6.8,6.2,7.6,6.7,7.0,...,7.0,6.9,6.7,F,NaN,1,6.00,5.50,5.00,A
85,86,7.2,6.6,6.8,6.7,7.1,6.4,7.2,6.0,7.9,...,8.1,6.4,6.0,F,NaN,2NT,3.75,5.75,4.75,B
82,83,5.1,5.9,5.9,4.5,6.2,5.3,6.5,4.7,5.0,...,7.3,7.5,6.3,F,NaN,1,3.25,6.00,4.25,B
6,7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,...,6.6,6.0,6.0,F,NaN,2,6.50,6.75,5.25,C

**3.Hãy tạo pivot-table để thống kê các giá trị count, sum, mean, median, min, max, std, Q1, Q2 và Q3 của DH1 theo KT**

In [4]:
print(df.groupby("KT")["DH1"].agg(["count", "sum", "mean", "median", "min", "max","std"]))
df_KT=df.groupby("KT")["DH1"].agg(["count", "sum", "mean", "median", "min", "max","std"]) 
print(pd.pivot_table(df_KT,columns="KT"))

    count     sum      mean  median   min   max       std
KT
A      49  163.50  3.336735    3.25  1.00  6.50  1.274296
A1      6   17.50  2.916667    3.00  2.00  4.25  0.861201
B       9   29.50  3.277778    3.50  1.75  4.50  0.823905
C      14   79.25  5.660714    5.25  4.75  7.00  0.812209
D1     22   84.25  3.829545    3.75  1.25  6.75  1.370146
KT               A         A1          B          C         D1
count    49.000000   6.000000   9.000000  14.000000  22.000000
max       6.500000   4.250000   4.500000   7.000000   6.750000
mean      3.336735   2.916667   3.277778   5.660714   3.829545
median    3.250000   3.000000   3.500000   5.250000   3.750000
min       1.000000   2.000000   1.750000   4.750000   1.250000
std       1.274296   0.861201   0.823905   0.812209   1.370146
sum     163.500000  17.500000  29.500000  79.250000  84.250000

**4.Hãy tạo pivot-table để thống kê các giá trị count, sum, mean, median, min, max, std, Q1, Q2 và Q3 của DH1 theo KT và KV**

In [5]:
df_KT_KV = df.groupby(["KT","KV"])["DH1"].agg(["count", "sum", "mean", "median", "min", "max","std"]) 
print( pd.pivot_table(df_KT_KV,columns=["KT","KV"]))

KT              A                             A1                     B        \
KV              1          2        2NT        1        2NT          1   2NT
count   29.000000   9.000000  11.000000  2.00000   4.000000   8.000000  1.00
max      6.500000   6.250000   4.750000  2.75000   4.250000   4.500000  3.75
mean     3.232759   3.527778   3.454545  2.37500   3.187500   3.218750  3.75
median   3.250000   3.500000   3.500000  2.37500   3.250000   3.375000  3.75
min      1.000000   2.000000   2.000000  2.00000   2.000000   1.750000  3.75
std      1.369194   1.427653   0.913908  0.53033   0.921389   0.860207   NaN
sum     93.750000  31.750000  38.000000  4.75000  12.750000  25.750000  3.75

KT              C                              D1
KV              1         2        2NT          1          2   2NT
count    8.000000   2.00000   4.000000  13.000000   8.000000  1.00
max      7.000000   6.50000   7.000000   5.750000   6.750000  3.75
mean     5.437500   5.75000   6.062500   3.596154   4.218750  3.75
median   5.250000   5.75000   6.000000   3.500000   4.500000  3.75
min      4.750000   5.00000   5.250000   1.500000   1.250000  3.75
std      0.728869   1.06066   0.943729   1.264658   1.617082   NaN
sum     43.500000  11.50000  24.250000  46.750000  33.750000  3.75

**5.Hãy tạo pivot-table để thống kê các giá trị count, sum, mean, median, min, max, std, Q1, Q2 và Q3 của DH1 theo KT, KV và DT**

In [7]:
df_KT_KV_DT = df.groupby(["KT","KV","DT"])["DH1"].agg(["count", "sum", "mean", "median", "min", "max","std"])  
print(pd.pivot_table(df_KT_KV_DT,columns=["KT","KV","DT"]))

KT         A   D1
KV         2    1     2
DT       6.0  1.0   1.0
count   1.00  1.0  1.00
max     4.25  3.0  1.25
mean    4.25  3.0  1.25
median  4.25  3.0  1.25
min     4.25  3.0  1.25
std      NaN  NaN   NaN
sum     4.25  3.0  1.25